* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: green;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#board div {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background-color: #ffffff;
    float: left;
    cursor: pointer;
}

#board div.bomb {
    background-color: red;
}

#board div.hide {
    background-color: grey;
    z-index: 10;
}
